-- Initial schema as of 2026-06-27
-- Generated from live database

CREATE TABLE IF NOT EXISTS departments (
  name text PRIMARY KEY
);

CREATE TABLE IF NOT EXISTS teams (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  name text NOT NULL,
  created_at timestamptz DEFAULT now(),
  deleted_at timestamptz
);

CREATE TABLE IF NOT EXISTS users (
  id uuid PRIMARY KEY,
  email text NOT NULL,
  name text NOT NULL,
  role text NOT NULL DEFAULT 'member',
  department text,
  is_approved boolean DEFAULT false,
  team_id uuid NOT NULL REFERENCES teams(id),
  fcm_token text,
  created_at timestamptz DEFAULT now(),
  deleted_at timestamptz
);

CREATE TABLE IF NOT EXISTS meetings (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  title text NOT NULL,
  department text NOT NULL,
  meeting_type text NOT NULL,
  vibe text,
  scheduled_duration integer NOT NULL,
  actual_duration integer,
  status text DEFAULT 'planned',
  agenda_items jsonb NOT NULL DEFAULT '[]',
  team_id uuid NOT NULL REFERENCES teams(id),
  created_by uuid REFERENCES users(id),
  facilitator_id uuid REFERENCES users(id),
  scheduled_at timestamptz,
  created_at timestamptz DEFAULT now(),
  deleted_at timestamptz,
  timer_started_at timestamptz,
  timer_item_started_at timestamptz,
  timer_base_total integer DEFAULT 0,
  timer_base_item integer DEFAULT 0,
  active_item_index integer DEFAULT 0,
  is_timer_running boolean DEFAULT false,
  paused_at timestamptz
);

CREATE TABLE IF NOT EXISTS meeting_participants (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  meeting_id uuid NOT NULL REFERENCES meetings(id),
  user_id uuid NOT NULL REFERENCES users(id),
  role text NOT NULL DEFAULT 'attendee',
  department text,
  notified_at timestamptz,
  team_id uuid NOT NULL REFERENCES teams(id),
  created_at timestamptz DEFAULT now(),
  UNIQUE (meeting_id, user_id)
);

CREATE TABLE IF NOT EXISTS outcomes (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  meeting_id uuid NOT NULL REFERENCES meetings(id),
  primary_outcome text NOT NULL,
  action_items jsonb NOT NULL DEFAULT '[]',
  notes text,
  logged_by uuid REFERENCES users(id),
  team_id uuid NOT NULL REFERENCES teams(id),
  created_at timestamptz DEFAULT now()
);

CREATE TABLE IF NOT EXISTS templates (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  name text NOT NULL,
  description text,
  department text NOT NULL,
  meeting_type text NOT NULL,
  agenda_items jsonb NOT NULL DEFAULT '[]',
  team_id uuid NOT NULL REFERENCES teams(id),
  created_by uuid REFERENCES users(id),
  created_at timestamptz DEFAULT now(),
  deleted_at timestamptz
);

CREATE TABLE IF NOT EXISTS notification_preferences (
  user_id uuid PRIMARY KEY REFERENCES users(id),
  meeting_reminder_email boolean NOT NULL DEFAULT false,
  meeting_reminder_push boolean NOT NULL DEFAULT false,
  outcome_prompt_email boolean NOT NULL DEFAULT false,
  outcome_prompt_push boolean NOT NULL DEFAULT false,
  daily_digest_email boolean NOT NULL DEFAULT false,
  updated_at timestamptz DEFAULT now()
);
ALTER TABLE outcomes ADD COLUMN IF NOT EXISTS comments jsonb NOT NULL DEFAULT '[]';
CREATE TABLE IF NOT EXISTS comments (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  meeting_id uuid NOT NULL REFERENCES meetings(id),
  user_id uuid NOT NULL REFERENCES users(id),
  text text NOT NULL,
  created_at timestamptz DEFAULT now(),
  team_id uuid NOT NULL REFERENCES teams(id)
);

ALTER TABLE comments ENABLE ROW LEVEL SECURITY;

DO $$
BEGIN
  IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = 'comments' AND policyname = 'Team members can read comments') THEN
    CREATE POLICY "Team members can read comments"
      ON comments FOR SELECT
      USING (team_id IN (SELECT team_id FROM users WHERE id = auth.uid()));
  END IF;
END $$;

DO $$
BEGIN
  IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = 'comments' AND policyname = 'Team members can insert comments') THEN
    CREATE POLICY "Team members can insert comments"
      ON comments FOR INSERT
      WITH CHECK (team_id IN (SELECT team_id FROM users WHERE id = auth.uid()));
  END IF;
END $$;
DO $$
BEGIN
  IF NOT EXISTS (SELECT 1 FROM pg_publication_tables WHERE pubname = 'supabase_realtime' AND schemaname = 'public' AND tablename = 'comments') THEN
    ALTER PUBLICATION supabase_realtime ADD TABLE comments;
  END IF;
  IF NOT EXISTS (SELECT 1 FROM pg_publication_tables WHERE pubname = 'supabase_realtime' AND schemaname = 'public' AND tablename = 'meetings') THEN
    ALTER PUBLICATION supabase_realtime ADD TABLE meetings;
  END IF;
  IF NOT EXISTS (SELECT 1 FROM pg_publication_tables WHERE pubname = 'supabase_realtime' AND schemaname = 'public' AND tablename = 'outcomes') THEN
    ALTER PUBLICATION supabase_realtime ADD TABLE outcomes;
  END IF;
END $$;
DO $$
BEGIN
  IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name = 'meetings' AND column_name = 'share_token') THEN
    ALTER TABLE meetings ADD COLUMN share_token uuid DEFAULT gen_random_uuid() NOT NULL;
  END IF;
END $$;

CREATE UNIQUE INDEX IF NOT EXISTS idx_meetings_share_token ON meetings(share_token);
CREATE TABLE IF NOT EXISTS action_items (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  outcome_id uuid REFERENCES outcomes(id) ON DELETE CASCADE,
  meeting_id uuid NOT NULL REFERENCES meetings(id) ON DELETE CASCADE,
  text text NOT NULL,
  assignee_email text,
  due_date date,
  done boolean DEFAULT false,
  team_id uuid NOT NULL REFERENCES teams(id),
  created_at timestamptz DEFAULT now()
);

CREATE INDEX IF NOT EXISTS idx_action_items_outcome_id ON action_items(outcome_id);
CREATE INDEX IF NOT EXISTS idx_action_items_meeting_id ON action_items(meeting_id);
CREATE INDEX IF NOT EXISTS idx_action_items_assignee_email ON action_items(assignee_email);
DO $$
BEGIN
  IF NOT EXISTS (SELECT 1 FROM pg_publication_tables WHERE pubname = 'supabase_realtime' AND schemaname = 'public' AND tablename = 'action_items') THEN
    ALTER PUBLICATION supabase_realtime ADD TABLE action_items;
  END IF;
END $$;
ALTER TABLE users ADD CONSTRAINT users_name_team_unique UNIQUE (name, team_id);
-- Add missing DB indexes based on query patterns observed in edge functions

-- meetings: list queries filter by team_id + deleted_at, ordered by scheduled_at
CREATE INDEX IF NOT EXISTS idx_meetings_team_id_deleted_at_scheduled_at
  ON meetings(team_id, deleted_at, scheduled_at DESC);

-- meetings: guest live view by share_token
CREATE INDEX IF NOT EXISTS idx_meetings_share_token
  ON meetings(share_token)
  WHERE deleted_at IS NULL;

-- meetings: reminders cron filters by status + scheduled_at range
CREATE INDEX IF NOT EXISTS idx_meetings_status_scheduled_at
  ON meetings(status, scheduled_at)
  WHERE deleted_at IS NULL;

-- outcomes: all queries filter by meeting_id
CREATE INDEX IF NOT EXISTS idx_outcomes_meeting_id
  ON outcomes(meeting_id);

-- comments: all queries filter by meeting_id + team_id, ordered by created_at
CREATE INDEX IF NOT EXISTS idx_comments_meeting_id_team_id_created_at
  ON comments(meeting_id, team_id, created_at ASC);

-- meeting_participants: looking up a user's meetings
CREATE INDEX IF NOT EXISTS idx_meeting_participants_user_id
  ON meeting_participants(user_id);

-- users: list queries filter by team_id + deleted_at, ordered by created_at
CREATE INDEX IF NOT EXISTS idx_users_team_id_deleted_at_created_at
  ON users(team_id, deleted_at, created_at ASC);

-- users: invite/login lookup by email
CREATE INDEX IF NOT EXISTS idx_users_email
  ON users(email)
  WHERE deleted_at IS NULL;

-- templates: list queries filter by team_id + deleted_at, ordered by created_at
CREATE INDEX IF NOT EXISTS idx_templates_team_id_deleted_at_created_at
  ON templates(team_id, deleted_at, created_at DESC);

-- action_items: list by assignee_email scoped to team
CREATE INDEX IF NOT EXISTS idx_action_items_team_id_assignee_email
  ON action_items(team_id, assignee_email)
  WHERE assignee_email IS NOT NULL;
-- Add assignee_id foreign key to action_items
ALTER TABLE action_items ADD COLUMN IF NOT EXISTS assignee_id uuid REFERENCES users(id);

-- Backfill assignee_id from existing email matches
UPDATE action_items ai
SET assignee_id = u.id
FROM users u
WHERE u.email = ai.assignee_email
  AND ai.assignee_id IS NULL;

-- Add updated_at to action_items and comments
ALTER TABLE action_items ADD COLUMN IF NOT EXISTS updated_at timestamptz DEFAULT now();
ALTER TABLE comments ADD COLUMN IF NOT EXISTS updated_at timestamptz DEFAULT now();

-- Drop legacy jsonb columns from outcomes (now in proper tables)
ALTER TABLE outcomes DROP COLUMN IF EXISTS action_items;
ALTER TABLE outcomes DROP COLUMN IF EXISTS comments;

-- Index on assignee_id
CREATE INDEX IF NOT EXISTS idx_action_items_assignee_id ON action_items(assignee_id);
-- Add updated_at to meetings
ALTER TABLE meetings ADD COLUMN IF NOT EXISTS updated_at timestamptz DEFAULT now();

-- Auto-update updated_at on changes
CREATE OR REPLACE FUNCTION update_updated_at()
RETURNS trigger AS $$
BEGIN
  NEW.updated_at = now();
  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

DROP TRIGGER IF EXISTS meetings_updated_at ON meetings CASCADE;
CREATE TRIGGER meetings_updated_at
  BEFORE UPDATE ON meetings
  FOR EACH ROW EXECUTE FUNCTION update_updated_at();

-- Separate timer state table
CREATE TABLE IF NOT EXISTS meeting_timer_state (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  meeting_id uuid NOT NULL REFERENCES meetings(id) ON DELETE CASCADE UNIQUE,
  is_timer_running boolean DEFAULT false,
  timer_started_at timestamptz,
  timer_item_started_at timestamptz,
  timer_base_total integer DEFAULT 0,
  timer_base_item integer DEFAULT 0,
  active_item_index integer DEFAULT 0,
  paused_at timestamptz,
  created_at timestamptz DEFAULT now(),
  updated_at timestamptz DEFAULT now()
);

CREATE INDEX IF NOT EXISTS idx_meeting_timer_state_meeting_id ON meeting_timer_state(meeting_id);

-- Backfill timer state from existing meetings
INSERT INTO meeting_timer_state (meeting_id, is_timer_running, timer_started_at, timer_item_started_at, timer_base_total, timer_base_item, active_item_index, paused_at)
SELECT id, is_timer_running, timer_started_at, timer_item_started_at, timer_base_total, timer_base_item, active_item_index, paused_at
FROM meetings
ON CONFLICT (meeting_id) DO NOTHING;

-- Enable realtime for timer state table
DO $$ BEGIN
  IF NOT EXISTS (
    SELECT 1 FROM pg_publication_tables
    WHERE pubname = 'supabase_realtime' AND tablename = 'meeting_timer_state'
  ) THEN
    ALTER PUBLICATION supabase_realtime ADD TABLE meeting_timer_state;
  END IF;
END $$;
-- Timer state is now in meeting_timer_state table.
-- These columns on meetings are stale and must be removed.
ALTER TABLE meetings DROP COLUMN IF EXISTS is_timer_running;
ALTER TABLE meetings DROP COLUMN IF EXISTS timer_started_at;
ALTER TABLE meetings DROP COLUMN IF EXISTS timer_item_started_at;
ALTER TABLE meetings DROP COLUMN IF EXISTS timer_base_total;
ALTER TABLE meetings DROP COLUMN IF EXISTS timer_base_item;
ALTER TABLE meetings DROP COLUMN IF EXISTS active_item_index;
ALTER TABLE meetings DROP COLUMN IF EXISTS paused_at;
ALTER TABLE meetings ADD COLUMN IF NOT EXISTS schedule_delay_seconds integer;
ALTER TABLE meetings ADD COLUMN IF NOT EXISTS overrun_seconds integer;
CREATE TABLE IF NOT EXISTS agenda_items (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  meeting_id uuid REFERENCES meetings(id) ON DELETE CASCADE,
  template_id uuid REFERENCES templates(id) ON DELETE CASCADE,
  sort_order integer NOT NULL DEFAULT 0,
  title text NOT NULL,
  duration integer NOT NULL DEFAULT 0,
  assignee_email text,
  presenter text,
  notes text,
  team_id uuid NOT NULL REFERENCES teams(id),
  created_at timestamptz DEFAULT now(),
  CONSTRAINT agenda_items_owner_check CHECK (
    (meeting_id IS NOT NULL AND template_id IS NULL)
    OR (meeting_id IS NULL AND template_id IS NOT NULL)
  )
);

CREATE INDEX IF NOT EXISTS idx_agenda_items_meeting_id ON agenda_items(meeting_id);
CREATE INDEX IF NOT EXISTS idx_agenda_items_template_id ON agenda_items(template_id);

INSERT INTO agenda_items (meeting_id, template_id, sort_order, title, duration, assignee_email, presenter, notes, team_id)
SELECT id, NULL, 0, 'Migrated item', 0, NULL, NULL, NULL, team_id
FROM meetings
WHERE jsonb_array_length(agenda_items) = 0;

INSERT INTO agenda_items (meeting_id, sort_order, title, duration, assignee_email, presenter, notes, team_id)
SELECT
  m.id,
  ordinality - 1,
  item ->> 'title',
  COALESCE((item ->> 'duration')::int, 0),
  item ->> 'assignee_email',
  item ->> 'presenter',
  item ->> 'notes',
  m.team_id
FROM meetings m,
LATERAL jsonb_array_elements(m.agenda_items) WITH ORDINALITY AS items(item, ordinality);

INSERT INTO agenda_items (template_id, sort_order, title, duration, assignee_email, presenter, notes, team_id)
SELECT
  t.id,
  ordinality - 1,
  item ->> 'title',
  COALESCE((item ->> 'duration')::int, 0),
  item ->> 'assignee_email',
  item ->> 'presenter',
  item ->> 'notes',
  t.team_id
FROM templates t,
LATERAL jsonb_array_elements(t.agenda_items) WITH ORDINALITY AS items(item, ordinality);

ALTER TABLE meetings DROP COLUMN IF EXISTS agenda_items;
ALTER TABLE templates DROP COLUMN IF EXISTS agenda_items;
CREATE TABLE IF NOT EXISTS job_queue (
  id bigint PRIMARY KEY GENERATED ALWAYS AS IDENTITY,
  type text NOT NULL,
  payload jsonb NOT NULL DEFAULT '{}',
  status text NOT NULL DEFAULT 'pending' CHECK (status IN ('pending', 'processing', 'completed', 'failed')),
  attempts int NOT NULL DEFAULT 0,
  max_attempts int NOT NULL DEFAULT 3,
  error text,
  created_at timestamptz DEFAULT now(),
  scheduled_at timestamptz DEFAULT now(),
  completed_at timestamptz
);

CREATE INDEX IF NOT EXISTS idx_job_queue_status ON job_queue(status, scheduled_at)
  WHERE status = 'pending';
-- View for spotting dead-lettered jobs that failed after exhausting retries.
-- Query: SELECT * FROM failed_jobs ORDER BY last_attempt DESC;
CREATE OR REPLACE VIEW failed_jobs AS
SELECT
  id,
  type,
  payload,
  attempts,
  max_attempts,
  error,
  created_at,
  COALESCE(completed_at, created_at) AS last_attempt
FROM job_queue
WHERE status = 'failed'
ORDER BY last_attempt DESC;
-- RLS + audit log migration
-- 1. Enable RLS on all tables and add team-isolated, role-aware policies
-- 2. Create audit_log table for privilege-sensitive actions

-- ============================================================
-- Helper: team_id for the requesting user
-- Created in public schema (auth schema not writable via CLI).
-- ============================================================
CREATE OR REPLACE FUNCTION public.user_team_id() RETURNS uuid AS $$
  SELECT team_id FROM public.users WHERE id = auth.uid() AND deleted_at IS NULL;
$$ LANGUAGE sql STABLE SECURITY DEFINER;

-- ============================================================
-- Helper: role for the requesting user
-- ============================================================
CREATE OR REPLACE FUNCTION public.user_role() RETURNS text AS $$
  SELECT role FROM public.users WHERE id = auth.uid() AND deleted_at IS NULL;
$$ LANGUAGE sql STABLE SECURITY DEFINER;

-- ============================================================
-- 1. departments
-- ============================================================
ALTER TABLE departments ENABLE ROW LEVEL SECURITY;

DO $$ BEGIN
  IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = 'departments' AND policyname = 'Authenticated users can read departments') THEN
    CREATE POLICY "Authenticated users can read departments"
      ON departments FOR SELECT USING (auth.role() = 'authenticated');
  END IF;
END $$;

-- ============================================================
-- 2. teams
-- ============================================================
ALTER TABLE teams ENABLE ROW LEVEL SECURITY;

DO $$ BEGIN
  IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = 'teams' AND policyname = 'Team members can read own team') THEN
    CREATE POLICY "Team members can read own team"
      ON teams FOR SELECT USING (id = public.user_team_id());
  END IF;

  IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = 'teams' AND policyname = 'Only super_admin can update team') THEN
    CREATE POLICY "Only super_admin can update team"
      ON teams FOR UPDATE USING (public.user_role() = 'super_admin');
  END IF;
END $$;

-- ============================================================
-- 3. users
-- ============================================================
ALTER TABLE users ENABLE ROW LEVEL SECURITY;

DO $$ BEGIN
  IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = 'users' AND policyname = 'Team members can read users in team') THEN
    CREATE POLICY "Team members can read users in team"
      ON users FOR SELECT USING (team_id = public.user_team_id());
  END IF;

  IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = 'users' AND policyname = 'Users can update own profile') THEN
    CREATE POLICY "Users can update own profile"
      ON users FOR UPDATE USING (id = auth.uid());
  END IF;

  IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = 'users' AND policyname = 'Admins can update users in team') THEN
    CREATE POLICY "Admins can update users in team"
      ON users FOR UPDATE USING (
        team_id = public.user_team_id()
        AND public.user_role() IN ('super_admin', 'dept_admin')
      );
  END IF;
END $$;

-- ============================================================
-- 4. meetings
-- ============================================================
ALTER TABLE meetings ENABLE ROW LEVEL SECURITY;

DO $$ BEGIN
  IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = 'meetings' AND policyname = 'Team members can read meetings') THEN
    CREATE POLICY "Team members can read meetings"
      ON meetings FOR SELECT USING (team_id = public.user_team_id());
  END IF;

  IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = 'meetings' AND policyname = 'Admins can insert meetings') THEN
    CREATE POLICY "Admins can insert meetings"
      ON meetings FOR INSERT WITH CHECK (
        team_id = public.user_team_id()
        AND public.user_role() IN ('super_admin', 'dept_admin')
      );
  END IF;

  IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = 'meetings' AND policyname = 'Admins or creator can update meetings') THEN
    CREATE POLICY "Admins or creator can update meetings"
      ON meetings FOR UPDATE USING (
        team_id = public.user_team_id()
        AND (public.user_role() IN ('super_admin', 'dept_admin') OR created_by = auth.uid())
      );
  END IF;

  IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = 'meetings' AND policyname = 'Only super_admin can delete meetings') THEN
    CREATE POLICY "Only super_admin can delete meetings"
      ON meetings FOR DELETE USING (
        team_id = public.user_team_id()
        AND public.user_role() = 'super_admin'
      );
  END IF;
END $$;

-- ============================================================
-- 5. meeting_participants
-- ============================================================
ALTER TABLE meeting_participants ENABLE ROW LEVEL SECURITY;

DO $$ BEGIN
  IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = 'meeting_participants' AND policyname = 'Team members can read participants') THEN
    CREATE POLICY "Team members can read participants"
      ON meeting_participants FOR SELECT USING (team_id = public.user_team_id());
  END IF;

  IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = 'meeting_participants' AND policyname = 'Admins can manage participants') THEN
    CREATE POLICY "Admins can manage participants"
      ON meeting_participants FOR INSERT WITH CHECK (
        team_id = public.user_team_id()
        AND public.user_role() IN ('super_admin', 'dept_admin')
      );
  END IF;

  -- Reuse same check for UPDATE and DELETE
  CREATE POLICY "Admins can update participants"
    ON meeting_participants FOR UPDATE USING (
      team_id = public.user_team_id()
      AND public.user_role() IN ('super_admin', 'dept_admin')
    );

  CREATE POLICY "Admins can delete participants"
    ON meeting_participants FOR DELETE USING (
      team_id = public.user_team_id()
      AND public.user_role() IN ('super_admin', 'dept_admin')
    );
END $$;

-- ============================================================
-- 6. outcomes
-- ============================================================
ALTER TABLE outcomes ENABLE ROW LEVEL SECURITY;

DO $$ BEGIN
  IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = 'outcomes' AND policyname = 'Team members can read outcomes') THEN
    CREATE POLICY "Team members can read outcomes"
      ON outcomes FOR SELECT USING (team_id = public.user_team_id());
  END IF;

  IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = 'outcomes' AND policyname = 'Admins can insert outcomes') THEN
    CREATE POLICY "Admins can insert outcomes"
      ON outcomes FOR INSERT WITH CHECK (
        team_id = public.user_team_id()
        AND public.user_role() IN ('super_admin', 'dept_admin')
      );
  END IF;

  IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = 'outcomes' AND policyname = 'Admins can update outcomes') THEN
    CREATE POLICY "Admins can update outcomes"
      ON outcomes FOR UPDATE USING (
        team_id = public.user_team_id()
        AND public.user_role() IN ('super_admin', 'dept_admin')
      );
  END IF;
END $$;

-- ============================================================
-- 7. action_items
-- ============================================================
ALTER TABLE action_items ENABLE ROW LEVEL SECURITY;

DO $$ BEGIN
  IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = 'action_items' AND policyname = 'Team members can read action items') THEN
    CREATE POLICY "Team members can read action items"
      ON action_items FOR SELECT USING (team_id = public.user_team_id());
  END IF;

  IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = 'action_items' AND policyname = 'Admins or assignee can update action items') THEN
    CREATE POLICY "Admins or assignee can update action items"
      ON action_items FOR UPDATE USING (
        team_id = public.user_team_id()
        AND (public.user_role() IN ('super_admin', 'dept_admin') OR assignee_id = auth.uid())
      );
  END IF;
END $$;

-- ============================================================
-- 8. templates
-- ============================================================
ALTER TABLE templates ENABLE ROW LEVEL SECURITY;

DO $$ BEGIN
  IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = 'templates' AND policyname = 'Team members can read templates') THEN
    CREATE POLICY "Team members can read templates"
      ON templates FOR SELECT USING (team_id = public.user_team_id());
  END IF;

  IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = 'templates' AND policyname = 'Admins can insert templates') THEN
    CREATE POLICY "Admins can insert templates"
      ON templates FOR INSERT WITH CHECK (
        team_id = public.user_team_id()
        AND public.user_role() IN ('super_admin', 'dept_admin')
      );
  END IF;

  IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = 'templates' AND policyname = 'Admins can update templates') THEN
    CREATE POLICY "Admins can update templates"
      ON templates FOR UPDATE USING (
        team_id = public.user_team_id()
        AND public.user_role() IN ('super_admin', 'dept_admin')
      );
  END IF;
END $$;

-- ============================================================
-- 9. notification_preferences
-- ============================================================
ALTER TABLE notification_preferences ENABLE ROW LEVEL SECURITY;

DO $$ BEGIN
  IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = 'notification_preferences' AND policyname = 'Users can read own preferences') THEN
    CREATE POLICY "Users can read own preferences"
      ON notification_preferences FOR SELECT USING (user_id = auth.uid());
  END IF;

  IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = 'notification_preferences' AND policyname = 'Users can upsert own preferences') THEN
    CREATE POLICY "Users can upsert own preferences"
      ON notification_preferences FOR INSERT WITH CHECK (user_id = auth.uid());
  END IF;

  IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = 'notification_preferences' AND policyname = 'Users can update own preferences') THEN
    CREATE POLICY "Users can update own preferences"
      ON notification_preferences FOR UPDATE USING (user_id = auth.uid());
  END IF;
END $$;

-- ============================================================
-- 10. agenda_items
-- ============================================================
ALTER TABLE agenda_items ENABLE ROW LEVEL SECURITY;

DO $$ BEGIN
  IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = 'agenda_items' AND policyname = 'Team members can read agenda items') THEN
    CREATE POLICY "Team members can read agenda items"
      ON agenda_items FOR SELECT USING (team_id = public.user_team_id());
  END IF;

  IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = 'agenda_items' AND policyname = 'Admins can manage agenda items') THEN
    CREATE POLICY "Admins can manage agenda items"
      ON agenda_items FOR INSERT WITH CHECK (
        team_id = public.user_team_id()
        AND public.user_role() IN ('super_admin', 'dept_admin')
      );
  END IF;

  CREATE POLICY "Admins can update agenda items"
    ON agenda_items FOR UPDATE USING (
      team_id = public.user_team_id()
      AND public.user_role() IN ('super_admin', 'dept_admin')
    );

  CREATE POLICY "Admins can delete agenda items"
    ON agenda_items FOR DELETE USING (
      team_id = public.user_team_id()
      AND public.user_role() IN ('super_admin', 'dept_admin')
    );
END $$;

-- ============================================================
-- 11. meeting_timer_state
-- ============================================================
ALTER TABLE meeting_timer_state ENABLE ROW LEVEL SECURITY;

DO $$ BEGIN
  IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = 'meeting_timer_state' AND policyname = 'Team members can read timer state') THEN
    CREATE POLICY "Team members can read timer state"
      ON meeting_timer_state FOR SELECT
      USING (meeting_id IN (SELECT id FROM meetings WHERE team_id = public.user_team_id()));
  END IF;

  IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = 'meeting_timer_state' AND policyname = 'Admins can manage timer state') THEN
    CREATE POLICY "Admins can manage timer state"
      ON meeting_timer_state FOR INSERT WITH CHECK (
        meeting_id IN (SELECT id FROM meetings WHERE team_id = public.user_team_id())
        AND public.user_role() IN ('super_admin', 'dept_admin')
      );
  END IF;

  CREATE POLICY "Admins can update timer state"
    ON meeting_timer_state FOR UPDATE USING (
      meeting_id IN (SELECT id FROM meetings WHERE team_id = public.user_team_id())
      AND public.user_role() IN ('super_admin', 'dept_admin')
    );
END $$;

-- ============================================================
-- 12. audit_log table
-- ============================================================
CREATE TABLE IF NOT EXISTS audit_log (
  id bigint PRIMARY KEY GENERATED ALWAYS AS IDENTITY,
  actor_id uuid NOT NULL REFERENCES users(id),
  team_id uuid NOT NULL REFERENCES teams(id),
  action text NOT NULL,
  entity_type text NOT NULL,
  entity_id text,
  details jsonb DEFAULT '{}',
  created_at timestamptz DEFAULT now()
);

CREATE INDEX IF NOT EXISTS idx_audit_log_team_id ON audit_log(team_id);
CREATE INDEX IF NOT EXISTS idx_audit_log_actor_id ON audit_log(actor_id);
CREATE INDEX IF NOT EXISTS idx_audit_log_created_at ON audit_log(created_at DESC);

ALTER TABLE audit_log ENABLE ROW LEVEL SECURITY;

DO $$ BEGIN
  IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = 'audit_log' AND policyname = 'Team members can read audit log') THEN
    CREATE POLICY "Team members can read audit log"
      ON audit_log FOR SELECT USING (team_id = public.user_team_id());
  END IF;
END $$;

-- ============================================================
-- 13. comments (existing policies remain; add missing ones)
-- ============================================================
DO $$ BEGIN
  IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = 'comments' AND policyname = 'Team members can update own comments') THEN
    CREATE POLICY "Team members can update own comments"
      ON comments FOR UPDATE USING (user_id = auth.uid());
  END IF;
END $$;
-- Phase 1a: Assignment system â€” columns, indexes, RLS
-- 1. Add tracking columns to action_items (assigned_by, assigned_at, priority, status)
-- 2. Add tracking columns to outcomes (updated_at, updated_by)
-- 3. Add performance indexes
-- 4. Add missing RLS policies
-- 5. Auto-update updated_at triggers

-- ============================================================
-- 1. action_items: add tracking columns
-- ============================================================

-- assigned_by tracks who created/assigned the item
ALTER TABLE action_items ADD COLUMN IF NOT EXISTS assigned_by uuid REFERENCES users(id);

-- assigned_at is when the assignment was made
ALTER TABLE action_items ADD COLUMN IF NOT EXISTS assigned_at timestamptz DEFAULT now();

-- priority for triage, defaulting to medium
ALTER TABLE action_items ADD COLUMN IF NOT EXISTS priority text DEFAULT 'medium'
  CHECK (priority IN ('low', 'medium', 'high'));

-- status replaces a simple done boolean with a richer state machine
ALTER TABLE action_items ADD COLUMN IF NOT EXISTS status text DEFAULT 'pending'
  CHECK (status IN ('pending', 'in_progress', 'blocked', 'done'));

-- Sync existing done=true rows to status='done'
UPDATE action_items SET status = 'done' WHERE done = true AND status = 'pending';

-- ============================================================
-- 2. outcomes: add tracking columns
-- ============================================================
ALTER TABLE outcomes ADD COLUMN IF NOT EXISTS updated_at timestamptz DEFAULT now();
ALTER TABLE outcomes ADD COLUMN IF NOT EXISTS updated_by uuid REFERENCES users(id);

-- ============================================================
-- 3. Auto-update updated_at triggers
-- ============================================================
DROP TRIGGER IF EXISTS action_items_updated_at ON action_items CASCADE;
CREATE TRIGGER action_items_updated_at
  BEFORE UPDATE ON action_items
  FOR EACH ROW EXECUTE FUNCTION update_updated_at();

DROP TRIGGER IF EXISTS outcomes_updated_at ON outcomes CASCADE;
CREATE TRIGGER outcomes_updated_at
  BEFORE UPDATE ON outcomes
  FOR EACH ROW EXECUTE FUNCTION update_updated_at();

-- ============================================================
-- 4. Add missing indexes
-- ============================================================
CREATE INDEX IF NOT EXISTS idx_action_items_team_id_assignee_id_done
  ON action_items(team_id, assignee_id, done)
  WHERE assignee_id IS NOT NULL;

CREATE INDEX IF NOT EXISTS idx_action_items_due_date
  ON action_items(due_date)
  WHERE due_date IS NOT NULL AND done = false;

CREATE INDEX IF NOT EXISTS idx_action_items_team_id_done
  ON action_items(team_id, done);

CREATE INDEX IF NOT EXISTS idx_outcomes_team_id_meeting_id
  ON outcomes(team_id, meeting_id);

-- ============================================================
-- 5. Add missing RLS policies
-- ============================================================
DO $$ BEGIN
  IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = 'action_items' AND policyname = 'Admins can insert action items') THEN
    CREATE POLICY "Admins can insert action items"
      ON action_items FOR INSERT WITH CHECK (
        team_id = public.user_team_id()
        AND public.user_role() IN ('super_admin', 'dept_admin')
      );
  END IF;
END $$;

DO $$ BEGIN
  IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = 'action_items' AND policyname = 'Admins can delete action items') THEN
    CREATE POLICY "Admins can delete action items"
      ON action_items FOR DELETE USING (
        team_id = public.user_team_id()
        AND public.user_role() IN ('super_admin', 'dept_admin')
      );
  END IF;
END $$;

DO $$ BEGIN
  IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = 'outcomes' AND policyname = 'Admins can delete outcomes') THEN
    CREATE POLICY "Admins can delete outcomes"
      ON outcomes FOR DELETE USING (
        team_id = public.user_team_id()
        AND public.user_role() IN ('super_admin', 'dept_admin')
      );
  END IF;
END $$;

DO $$ BEGIN
  IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = 'action_items' AND policyname = 'Assignee by email can update action items') THEN
    CREATE POLICY "Assignee by email can update action items"
      ON action_items FOR UPDATE USING (
        team_id = public.user_team_id()
        AND (
          assignee_id = auth.uid()
          OR assignee_email = (SELECT email FROM users WHERE id = auth.uid() AND deleted_at IS NULL)
        )
      );
  END IF;
END $$;
-- Phase 1b: Assignment system â€” normalize assignee, activity log
-- 1. Backfill assignee_id from assignee_email for existing rows
-- 2. Add trigger to auto-set assignee_id when assignee_email matches a known user
-- 3. Sync done=true â†’ status='done' for backward compatibility
-- 4. Add action_item_activity table for change tracking
-- 5. Trigger: log status changes (assigned, done, blocked, priority, due_date, reassigned)

-- ============================================================
-- 1. Backfill assignee_id from assignee_email
--    NOTE: Only rows where the email matches an existing user
--    in the users table will be resolved. Rows with no matching
--    user stay as assignee_email only â€” this is expected for
--    external/invited participants who haven't signed up yet.
-- ============================================================
UPDATE action_items a
SET assignee_id = u.id
FROM users u
WHERE a.assignee_email IS NOT NULL
  AND a.assignee_id IS NULL
  AND u.email = a.assignee_email
  AND u.deleted_at IS NULL;

-- ============================================================
-- 2. Trigger: auto-set assignee_id when assignee_email matches
-- ============================================================
CREATE OR REPLACE FUNCTION resolve_assignee_id()
RETURNS trigger AS $$
BEGIN
  IF NEW.assignee_email IS NOT NULL AND NEW.assignee_id IS NULL THEN
    SELECT id INTO NEW.assignee_id
    FROM users
    WHERE email = NEW.assignee_email AND deleted_at IS NULL;
  END IF;
  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

DROP TRIGGER IF EXISTS action_items_resolve_assignee_id ON action_items CASCADE;
CREATE TRIGGER action_items_resolve_assignee_id
  BEFORE INSERT OR UPDATE OF assignee_email ON action_items
  FOR EACH ROW EXECUTE FUNCTION resolve_assignee_id();

-- ============================================================
-- 3. Bidirectional done â†” status sync
--    Old clients send { done: true } â†’ auto-sets status='done'
--    New clients send { status: 'done' } â†’ auto-sets done=true
--    Keeps both columns consistent regardless of which one is written.
-- ============================================================
CREATE OR REPLACE FUNCTION sync_action_item_done_status()
RETURNS trigger AS $$
BEGIN
  IF NEW.done IS DISTINCT FROM OLD.done THEN
    -- done was explicitly toggled; sync status
    NEW.status := CASE WHEN NEW.done THEN 'done' ELSE 'pending' END;
  ELSIF NEW.status IS DISTINCT FROM OLD.status THEN
    -- status was explicitly changed; sync done
    NEW.done := NEW.status = 'done';
  END IF;
  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

DROP TRIGGER IF EXISTS action_items_sync_done_status ON action_items CASCADE;
CREATE TRIGGER action_items_sync_done_status
  BEFORE UPDATE OF done, status ON action_items
  FOR EACH ROW EXECUTE FUNCTION sync_action_item_done_status();

-- ============================================================
-- 4. action_item_activity: immutable log of status changes
-- ============================================================
CREATE TABLE IF NOT EXISTS action_item_activity (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  action_item_id uuid NOT NULL REFERENCES action_items(id) ON DELETE CASCADE,
  actor_id uuid REFERENCES users(id),
  field text NOT NULL,
  old_value text,
  new_value text,
  created_at timestamptz DEFAULT now()
);

CREATE INDEX IF NOT EXISTS idx_action_item_activity_item_id
  ON action_item_activity(action_item_id, created_at DESC);

ALTER TABLE action_item_activity ENABLE ROW LEVEL SECURITY;

DO $$ BEGIN
  IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = 'action_item_activity' AND policyname = 'Team members can read action item activity') THEN
    CREATE POLICY "Team members can read action item activity"
      ON action_item_activity FOR SELECT USING (
        EXISTS (
          SELECT 1 FROM action_items a
          WHERE a.id = action_item_id
            AND a.team_id = public.user_team_id()
        )
      );
  END IF;
END $$;

-- ============================================================
-- 5. Trigger: log state transitions to activity table
--    Fires on INSERT and on any UPDATE that changes a tracked field.
--    Tracks: created, assigned, done, blocked, in_progress,
--    priority, due_date, reassigned.
-- ============================================================
CREATE OR REPLACE FUNCTION log_action_item_activity()
RETURNS trigger AS $$
BEGIN
  IF TG_OP = 'INSERT' THEN
    INSERT INTO action_item_activity (action_item_id, actor_id, field, old_value, new_value)
    VALUES (NEW.id, NEW.assigned_by, 'created', NULL, NEW.text);
    IF NEW.assignee_id IS NOT NULL THEN
      INSERT INTO action_item_activity (action_item_id, actor_id, field, old_value, new_value)
      VALUES (NEW.id, NEW.assigned_by, 'assigned', NULL, (SELECT email FROM users WHERE id = NEW.assignee_id));
    END IF;
    RETURN NEW;
  END IF;

  -- status transitions (done, blocked, in_progress, pending)
  IF OLD.status IS DISTINCT FROM NEW.status THEN
    INSERT INTO action_item_activity (action_item_id, actor_id, field, old_value, new_value)
    VALUES (NEW.id, auth.uid(), 'status', OLD.status, NEW.status);
  END IF;

  -- reassigned
  IF OLD.assignee_id IS DISTINCT FROM NEW.assignee_id THEN
    INSERT INTO action_item_activity (action_item_id, actor_id, field, old_value, new_value)
    VALUES (NEW.id, NEW.assigned_by, 'reassigned',
      (SELECT email FROM users WHERE id = OLD.assignee_id),
      (SELECT email FROM users WHERE id = NEW.assignee_id));
  END IF;

  -- priority change
  IF OLD.priority IS DISTINCT FROM NEW.priority THEN
    INSERT INTO action_item_activity (action_item_id, actor_id, field, old_value, new_value)
    VALUES (NEW.id, auth.uid(), 'priority', OLD.priority, NEW.priority);
  END IF;

  -- due_date change
  IF OLD.due_date IS DISTINCT FROM NEW.due_date THEN
    INSERT INTO action_item_activity (action_item_id, actor_id, field, old_value, new_value)
    VALUES (NEW.id, auth.uid(), 'due_date', OLD.due_date::text, NEW.due_date::text);
  END IF;

  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

DROP TRIGGER IF EXISTS action_items_log_activity ON action_items CASCADE;
CREATE TRIGGER action_items_log_activity
  AFTER INSERT OR UPDATE OF status, assignee_id, priority, due_date ON action_items
  FOR EACH ROW EXECUTE FUNCTION log_action_item_activity();

-- ============================================================
-- 6. Enable realtime for action_item_activity
-- ============================================================
ALTER PUBLICATION supabase_realtime ADD TABLE action_item_activity;
-- Phase 1c: Assignment system â€” consolidate notification preferences & reminder scheduling
-- 1. Add assignment-specific columns to existing notification_preferences table
-- 2. No new user_notification_preferences table â€” consolidate on the existing one
-- 3. action_item_reminders table for scheduled due-date reminders
-- 4. Trigger: schedule reminders when an action item is assigned with a due_date

-- ============================================================
-- 1. Extend existing notification_preferences with assignment toggles
--    instead of creating a duplicate table.
-- ============================================================
ALTER TABLE notification_preferences ADD COLUMN IF NOT EXISTS assignment_assigned boolean DEFAULT true;
ALTER TABLE notification_preferences ADD COLUMN IF NOT EXISTS assignment_completed boolean DEFAULT true;
ALTER TABLE notification_preferences ADD COLUMN IF NOT EXISTS assignment_due_soon boolean DEFAULT true;
ALTER TABLE notification_preferences ADD COLUMN IF NOT EXISTS email_digest text DEFAULT 'realtime'
  CHECK (email_digest IN ('realtime', 'daily', 'weekly', 'never'));
ALTER TABLE notification_preferences ADD COLUMN IF NOT EXISTS created_at timestamptz DEFAULT now();

-- ============================================================
-- 2. action_item_reminders: scheduled due-date notifications
-- ============================================================
CREATE TABLE IF NOT EXISTS action_item_reminders (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  action_item_id uuid NOT NULL REFERENCES action_items(id) ON DELETE CASCADE,
  remind_at timestamptz NOT NULL,
  sent boolean DEFAULT false,
  created_at timestamptz DEFAULT now()
);

CREATE INDEX IF NOT EXISTS idx_action_item_reminders_pending
  ON action_item_reminders(remind_at, sent)
  WHERE sent = false;

ALTER TABLE action_item_reminders ENABLE ROW LEVEL SECURITY;

DO $$ BEGIN
  IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = 'action_item_reminders' AND policyname = 'Team members can read reminders') THEN
    CREATE POLICY "Team members can read reminders"
      ON action_item_reminders FOR SELECT USING (
        EXISTS (
          SELECT 1 FROM action_items a
          WHERE a.id = action_item_id
            AND a.team_id = public.user_team_id()
        )
      );
  END IF;
END $$;

-- ============================================================
-- 3. Trigger: schedule reminder rows for assigned items with due_date
--    Removes any unsent reminders for the item first, then inserts
--    new ones at 24h and 1h before the due_date.
-- ============================================================
CREATE OR REPLACE FUNCTION schedule_action_item_reminder()
RETURNS trigger AS $$
DECLARE
  reminder_time timestamptz;
BEGIN
  -- Remove old unsent reminders for this item
  DELETE FROM action_item_reminders
  WHERE action_item_id = NEW.id AND sent = false;

  -- Only schedule if assigned and has due_date and not done
  IF NEW.assignee_id IS NOT NULL AND NEW.due_date IS NOT NULL AND NOT NEW.done THEN
    -- 24 hours before
    reminder_time := NEW.due_date::timestamptz - interval '24 hours';
    IF reminder_time > now() THEN
      INSERT INTO action_item_reminders (action_item_id, remind_at)
      VALUES (NEW.id, reminder_time);
    END IF;

    -- 1 hour before
    reminder_time := NEW.due_date::timestamptz - interval '1 hour';
    IF reminder_time > now() THEN
      INSERT INTO action_item_reminders (action_item_id, remind_at)
      VALUES (NEW.id, reminder_time);
    END IF;
  END IF;

  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

DROP TRIGGER IF EXISTS action_items_schedule_reminder ON action_items CASCADE;
CREATE TRIGGER action_items_schedule_reminder
  AFTER INSERT OR UPDATE OF assignee_id, due_date, done ON action_items
  FOR EACH ROW EXECUTE FUNCTION schedule_action_item_reminder();

-- ============================================================
-- 4. Enable realtime for action_item_reminders
-- ============================================================
ALTER PUBLICATION supabase_realtime ADD TABLE action_item_reminders;
-- Fixup: apply corrections from modified migrations 00001 and 00002
-- 1. Fix failed_jobs view: updated_at â†’ COALESCE(completed_at, created_at)
-- 2. Create public.user_team_id() and public.user_role() helpers
--    (originally in auth schema, but CLI cannot write to auth schema)

-- ============================================================
-- 1. Fix failed_jobs view (updated_at does not exist on job_queue)
-- ============================================================
CREATE OR REPLACE VIEW failed_jobs AS
SELECT
  id,
  type,
  payload,
  attempts,
  max_attempts,
  error,
  created_at,
  COALESCE(completed_at, created_at) AS last_attempt
FROM job_queue
WHERE status = 'failed'
ORDER BY last_attempt DESC;

-- ============================================================
-- 2. Create public helper functions (duplicates of auth schema ones
--    from migration 00002, created here so CLI-based migrations can
--    reference them without auth schema write permissions)
-- ============================================================
CREATE OR REPLACE FUNCTION public.user_team_id() RETURNS uuid AS $$
  SELECT team_id FROM public.users WHERE id = auth.uid() AND deleted_at IS NULL;
$$ LANGUAGE sql STABLE SECURITY DEFINER;

CREATE OR REPLACE FUNCTION public.user_role() RETURNS text AS $$
  SELECT role FROM public.users WHERE id = auth.uid() AND deleted_at IS NULL;
$$ LANGUAGE sql STABLE SECURITY DEFINER;
-- Fix infinite recursion in RLS policies
-- The helper functions public.user_team_id() and public.user_role() query the
-- public.users table, which has RLS enabled with a policy that calls user_team_id().
-- Without SECURITY DEFINER, this causes infinite recursion (stack depth limit exceeded).
-- 
-- By running as SECURITY DEFINER, the functions execute with the privileges of
-- their owner (postgres), bypassing RLS on the users table.

CREATE OR REPLACE FUNCTION public.user_team_id() RETURNS uuid AS $$
  SELECT team_id FROM public.users WHERE id = auth.uid() AND deleted_at IS NULL;
$$ LANGUAGE sql STABLE SECURITY DEFINER;

CREATE OR REPLACE FUNCTION public.user_role() RETURNS text AS $$
  SELECT role FROM public.users WHERE id = auth.uid() AND deleted_at IS NULL;
$$ LANGUAGE sql STABLE SECURITY DEFINER;
-- Phase 3: Notifications table for in-app notification messages
CREATE TABLE IF NOT EXISTS notifications (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id uuid NOT NULL REFERENCES users(id) ON DELETE CASCADE,
  type text NOT NULL,
  title text NOT NULL,
  body text,
  data jsonb DEFAULT '{}'::jsonb,
  read boolean DEFAULT false,
  created_at timestamptz DEFAULT now()
);

CREATE INDEX IF NOT EXISTS idx_notifications_user_id_unread
  ON notifications(user_id, created_at DESC)
  WHERE read = false;

ALTER TABLE notifications ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Users can read own notifications"
  ON notifications FOR SELECT
  USING (user_id = auth.uid());

CREATE POLICY "Users can update own notifications"
  ON notifications FOR UPDATE
  USING (user_id = auth.uid());

ALTER PUBLICATION supabase_realtime ADD TABLE notifications;
-- Phase 4: Outcome notes table + comment pull tracking
CREATE TABLE IF NOT EXISTS outcome_notes (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  meeting_id uuid NOT NULL REFERENCES meetings(id) ON DELETE CASCADE,
  outcome_id uuid NOT NULL REFERENCES outcomes(id) ON DELETE CASCADE,
  text text NOT NULL,
  sort_order integer NOT NULL DEFAULT 0,
  source text NOT NULL DEFAULT 'manual' CHECK (source IN ('manual', 'comment')),
  source_comment_id uuid REFERENCES comments(id) ON DELETE SET NULL,
  created_by uuid NOT NULL REFERENCES users(id),
  team_id uuid NOT NULL REFERENCES teams(id),
  created_at timestamptz DEFAULT now()
);

CREATE INDEX IF NOT EXISTS idx_outcome_notes_meeting_id
  ON outcome_notes(meeting_id, sort_order);

ALTER TABLE outcome_notes ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Team members can read outcome notes"
  ON outcome_notes FOR SELECT
  USING (team_id = public.user_team_id());

CREATE POLICY "Hosts can insert outcome notes"
  ON outcome_notes FOR INSERT WITH CHECK (
    team_id = public.user_team_id()
    AND (
      public.user_role() = 'super_admin'
      OR EXISTS (
        SELECT 1 FROM meetings m
        WHERE m.id = meeting_id AND m.created_by = auth.uid()
      )
    )
  );

ALTER TABLE comments ADD COLUMN IF NOT EXISTS pulled_to_outcome boolean DEFAULT false;
ALTER TABLE comments ADD COLUMN IF NOT EXISTS pulled_at timestamptz;
ALTER TABLE comments ADD COLUMN IF NOT EXISTS pulled_by uuid REFERENCES users(id);

CREATE INDEX IF NOT EXISTS idx_comments_pulled
  ON comments(pulled_to_outcome)
  WHERE pulled_to_outcome = true;
-- Phase 5: Meeting log â€” report snapshot columns
ALTER TABLE meetings ADD COLUMN IF NOT EXISTS report_snapshot jsonb;
ALTER TABLE meetings ADD COLUMN IF NOT EXISTS logged_at timestamptz;
ALTER TABLE meetings ADD COLUMN IF NOT EXISTS logged_by uuid REFERENCES users(id);
-- Phase 6: Overdue check â€” daily cron to mark past-due action items

-- 1. Add 'overdue' to the allowed status values
ALTER TABLE action_items DROP CONSTRAINT IF EXISTS action_items_status_check;
ALTER TABLE action_items ADD CONSTRAINT action_items_status_check
  CHECK (status = ANY (ARRAY['pending'::text, 'in_progress'::text, 'blocked'::text, 'done'::text, 'overdue'::text]));

-- 2. Create index for the overdue query (status=pending, due_date not null)
CREATE INDEX IF NOT EXISTS idx_action_items_overdue_check
  ON action_items(due_date)
  WHERE status = 'pending' AND due_date IS NOT NULL;

-- 3. Create a helper function in public schema to retrieve the cron secret
CREATE OR REPLACE FUNCTION get_cron_secret_for_overdue()
RETURNS text
LANGUAGE sql IMMUTABLE SECURITY DEFINER
AS $$ SELECT '1b0ff2d9-83ef-41ad-9682-61a3b78edb53'::text $$;

-- 4. Schedule overdue-check to run daily at midnight
SELECT cron.schedule(
  'overdue-check',
  '0 0 * * *',
  $$
  SELECT net.http_post(
    url:='https://rmsejtpykbozirahynrd.supabase.co/functions/v1/overdue-check',
    headers:=jsonb_build_object(
      'Content-Type', 'application/json',
      'Authorization', 'Bearer ' || public.get_cron_secret_for_overdue()
    )
  )::text
  $$
);
-- Production setup: enable extensions, configure cron for production project ref

-- 1. Enable required extensions
CREATE EXTENSION IF NOT EXISTS pg_cron;
CREATE EXTENSION IF NOT EXISTS pg_net;

-- 2. Remove any existing overdue-check cron (e.g. from staging)
SELECT cron.unschedule('overdue-check');

-- 3. Schedule overdue-check for production
SELECT cron.schedule(
  'overdue-check',
  '0 0 * * *',
  $$
  SELECT net.http_post(
    url:='https://cxvpnvlicdnghvlzprhf.supabase.co/functions/v1/overdue-check',
    headers:=jsonb_build_object(
      'Content-Type', 'application/json',
      'Authorization', 'Bearer ' || public.get_cron_secret_for_overdue()
    )
  )::text
  $$
);
ALTER TABLE action_items
  ADD COLUMN blocked_by uuid,
  ADD COLUMN blocked_at timestamptz;
INSERT INTO departments (name) VALUES
  ('Engineering'),
  ('Marketing'),
  ('Design'),
  ('Product'),
  ('Sales'),
  ('Operations'),
  ('Finance'),
  ('Human Resources'),
  ('Legal'),
  ('Customer Support'),
  ('Research'),
  ('IT')
ON CONFLICT (name) DO NOTHING;
ALTER TABLE outcomes DROP COLUMN notes;
ALTER TABLE meetings ADD COLUMN timer_open_to_all boolean NOT NULL DEFAULT false;
